$lightgrey: whitesmoke;
$grey: grey;
$c : cyan;
$m: magenta;
$y: yellow;
$k: black;
$bookcolor: #fff7f4;


.mtext {
  color: $m;
}
.ctext {
  color: $c;
}
.ytext {
  color: $y;
}
.ktext {
  color: $k;
}

.kshadow {
  color: $k;
  text-decoration: none;
  text-shadow: -1px -1px 1px $c;
}
.alignright {
  text-align: right;
}
.aligncenter {
  text-align: center;
}

body {
  background: #ffbfb;
  line-height: 185%;
  &.home {
    .content {
    }
  }
}


.masthead {
  background: white;
  padding-top: 0px;
  border-bottom: none;
}

.sidebar-toggle {
  z-index: 800;
}

#main {

  a {
  color: $m;
  text-shadow: -1px -1px 1px $y;
  }
  a:hover, a:focus {
    color: $k;
    text-decoration: none;
    text-shadow: -1px -1px 1px $c;
  }

  a.reversed {
    color: $k;
    text-shadow: -1px -1px 1px $c;
      &:hover, &:focus {
        color: $m;
        text-decoration: none;
        text-shadow: -1px -1px 1px $c;
      }
  }

  a.dark {
    color: $k;
  }
  ul li {
    list-style: none;
  }

  h1, h2, h3, h4, h5{
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h1 {
   font-size: 2rem;
   text-align: center;
  }
  h2 {
    margin-left: -20px;
  }
  hr {
    margin: 40px 0px;
  }
  blockquote p {
    font-style: normal;
    line-height: 140%;
  }

  .text-right {
    text-align: right;
    width: 100%;
    display: inline-block;  }
}
  .content {
      opacity: 0;
      transition: opacity 1.2s;
  }
.visible {
  opacity: 1;
}
.logomark {
  font-size:3rem;
  position:relative;
  font-family: 'Nanum Myeongjo', serif;
  transition: opacity .2s;
  padding-top: 8vh;
  @media (max-width: 48em) {
    font-size: 1.5em;
    padding-top:25px;
    line-height: 3em;
    }
  }

.fixedlogo {
    position: fixed;
    top: 0px;
    left: 0px;
    margin-top: 0px;
    width: 100%;
    transition: margin-top .4s;
    background: white;
    height:15vh;
    z-index: 500;
    &.small{
      margin-top: -30px;
      margin-bottom: 40px;
      height: 150px;
      border-bottom:1px solid #eee;
      .logomark{
        font-size:1.5rem;
        line-height:1.5rem;
        padding-top: 5vh;
      }
    }

    &.abs{
      position: absolute;
      .ktext {
      }
      }

    .logomark {
      position: absolute;
      width: 100%;
      display: none;

    }
    .ytext{
      top: 3px;
      left: -1px;
    }
    .mtext{
      top:1px;
    }
    .ctext{
      top:-1px;
      left:1px;
    }

}

#book-toc {
  max-width: 500px;
  margin: 150px auto 0px;
  text-align: center;
  color: $y;
  a {
  color: #333;
  text-shadow: -1px -1px 1px $c;
  }
  a:hover, a:focus {
    color: $k;
    text-decoration: none;
    text-shadow: -1px -1px 1px $y;
  }
}
.mtext.fix {
  top: -1px;
  left: 1px;
}
.ctext.fix {
  top: 1px;
}
.ytext.fix{
      top: 2px;
      left: 1px;
}
.ktext {
  z-index: 1000;
}

.sidebar{
  background: whitesmoke;
  border-right: 1px solid $m;
  color: $k;
  a {
    color: $k;
  &.sidebar-nav-item:hover{
    color: $m;
    // border-top: 1px solid $c;
  }
  }
  h3.sidebar-nav-item, .ctext, .active {
    color: $m;
    font-weight: 500;
    padding-left: 1rem;
  }

}

#parallax-title {
  padding-top: 200px;
  padding-bottom: 400px;
}

.footnotes, .spacer {
  border-top: 1px solid cyan;
    margin-top: 10vh;
    padding: 10vh 20px 70vh;
  li {
    padding-top:20px;
  }
}

ol.bibliography {
  p {
    margin-bottom: 5px;
 }
}

// blog

div.post-nav {
  width: 100%;
  div.post-nav-next {
    float: right;
  }
}

div.bloghead {
  margin: -20px 0px;
  div.post-nav-top {
    width: 100%;
    font-size: 80%;
    display: flex;
    div {
      flex: auto;
    }
  }
}


.explainer {

width: 100%;
float: left;
position: relative;

    &.small{
      margin-top: -30px;
      margin-bottom: 40px;
      height: 150px;
      border-bottom:1px solid #eee;
      .demotext{
        font-size:1.5rem;
        line-height:1.5rem;
        padding-top: 5vh;
      }
    }

    &.abs{
      position: absolute;
      .ktext {

      }
      }

    .demotext {
      position: absolute;
      width: 100%;
      display: none;
      cursor: pointer;
      transition: left 1s, top 1s;

    }
    .ktext {
      top: 0px;
      left: 0px;
      &:hover {
        top: -30px;
        left: -15px;
      }
    }
    .ytext{
      top: 3px;
      left: -1px;
      &:hover {
        top: 10px;
        left: 17px;
      }
    }
    .mtext{
      top:1px;
      &:hover {
        top: 20px;
        left: -10px;
      }
    }
    .ctext{
      top:-1px;
      left:1px;
      &:hover {
        top: -19px;
        left: 9px;
      }
    }
}

#main .conceptual-labor-the-quick-version {
  img {
    margin: 3rem .5rem;
  }
  ul {
   li {
     list-style: square;
   margin-top: 10px;
  }
}
  blockquote {
    background: $bookcolor;
    border-left: 1px solid #777;
    // border-bottom: 1px solid #333;
    padding: 1rem;
    margin-left: 40px;
  }
}
