---
layout: headerless
---

{% if page.next.url %}
  {% assign next_post_title_array = page.next.title | split: " " %}
  {% assign next_post_cape_length = next_post_title_array | size | minus: 1 %}
  {% assign next_post_cape = page.next.title | truncatewords: next_post_cape_length, "" %}
  {% assign next_post_spit = next_post_title_array | last %}
{% endif  %}

<div class="bloghead">
  <div class="post-nav-top">
    <div>
      {% if page.previous.url %}
        <a href="{{page.previous.url}}">
          <span aria-hidden="true">&laquo;</span>
        </a>
      {% endif %}
    </div>
    <div class="aligncenter">
      <a href="/blog">Blog</a> | <a href="/">Home</a>
    </div>
    <div class="alignright">
      {% if page.next.url %}
      <a href="{{page.next.url}}">
        <span aria-hidden="true">&raquo;</span>
      </a>
      {% endif %}
    </div>
  </div>
</div>
<hr>
<div class="post">
  <h4 class="kshadow">{{ page.date | date: "%b %d, %Y" }}</h4>
  {{ content }}
</div>

<hr>
<div class="post-nav">
  <div>
    {% if page.previous.url %}
    <span class="unsighted">Previous post:</span>
      <a href="{{page.previous.url}}">
        <span aria-hidden="true">&laquo;</span>
        {{page.previous.title}}
      </a>
    {% endif %}
  </div>
<br>
  <div class="post-nav-next">
    {% if page.next.url %}
    <span class="unsighted">Next post:</span>
    <a href="{{page.next.url}}">
      {{next_post_cape}}
      <span style="white-space: nowrap;">
      {{next_post_spit}}
      <span aria-hidden="true">&raquo;</span>
      </span>
    </a>
    {% endif %}
  </div>
</div>
